/* ANNUAIRE **/


.annuaire-container .interface-container{
    margin-bottom : 20px;
    width: 100%;
    padding: 10px;

}
.annuaire-container form, .annuaire-container .btn-group{
    display : inline;
    float : left;
    margin-left : 5px;
}

.annuaire-container input{
    background : none;
    border : none;
    font-size:1.3em;
}

.annuaire-container input:focus{
    padding-left : 10px;
    border : none;
    outline: 0;
}


.annuaire-container .btn-group open button{
    opacity : 0.5;
    background-color : #475350;
}

.annuaire-container .btn-group a{
    margin-top : 0px;
}

.annuaire-container button{
    background-color : #475350;
    padding : 2px;
    padding-left : 5px;
    padding-right : 5px;
    opacity : 1;
}

.annuaire-container button:hover{
    opacity : 0.5;
}


/*annuaire tile*/
.annuaire-tile{
    text-align : left;
    padding : 10px;
    opacity : 1;
}

.annuaire-tile:hover{
    background : rgba(0,0,0,0.2);
}

.annuaire-tile td:first-child{
    padding-right : 10px;
}

.annuaire-tile img{
    width : 60px;
    display:inline;
    border-radius : 50%;
}

.annuaire-tile a{
    color : black;
    text-decoration: none;
}

.annuaire-tile h3{
    font-size : 1.1em;
    text-transform: uppercase;
}

.annuaire-tile.ng-leave{
    opacity : 0;
    height:0;
}
.annuaire-tile.ng-enter{
    opacity : 0;
    height:0;
}