/* BASE STYLES
============================================================================= */

body{
    padding-bottom: 70px;
    font-family : 'Signika', 'sans-serif';
}


/* LOGO */
.logo-container{
    position : fixed;
    left : 0%;
    top : 40px;
    width : 100%;
    text-align:center;
    z-index : 1000;
    pointer-events : none;
}

.logo-wrapper{
    width : 100px;
    height : 100px;
    background : white;
    border-radius : 50%;
    display:inline-block;
    z-index : 1001;
    pointer-events : all;
    -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
}

.logo-wrapper.big{
    width : 150px;
    height : 150px;
}

.logo-wrapper:hover{
    width : 150px;
    height : 150px;
}


.logo-wrapper image{
    border-radius : 50%;
}

/*

#logo img{
    width : 100%;
    }*/


    .member,person{
        font-weight : 800;
        cursor : pointer;
    }


    /* MENU */
    nav{
        z-index:1001;
        background-color : white!important;
        border : none!important
        ;
    }

    .navbar-nav{
        float : none;
    }
    nav a{
        font-family : 'signika';
        text-transform : uppercase;
    }

    .navbar-nav>li{
        margin-bottom : -8px!important;
    }

    .navbar-nav>li>a{
        margin : 0;
    }

    .navbar-nav {
        display : inline-block;
        float: center;
    }
    nav #logoText{
        font-weight : 800;
    }

    /*version minified small screens */
    .navbar-toggle{
        margin-right: 45%;
    }


    /* ITEMS */
    /*SUPPRIMER CONTOURS */
    .navbar-nav>.active>a, .navbar-nav>.active>a:hover{
        border : none;
        font-weight : 800;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a{
        color : #475350;
        /*padding:0;*/
        /* margin :0;*/
    }


    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
        color : #475350; 
        border : none; 
        font-weight : 800; 
    }

    .navbar-brand
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin: auto;
        bottom : 10%;
    }

    .navbar-default .navbar-brand{
        color : #475350; 
        border : none; 
        font-weight : 800;
        opacity : 0.7;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
        opacity : 1;
        color : #475350; 
    }

    .dropdown-menu{
        min-width : 0;
    }

    nav .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
        background : white;
        color : #475350;
        font-weight : 800;
    }
    /* Accueil*/

    h3.ss-titre{
        text-transform: uppercase;
        color : #475350;
        border-bottom : 3px solid #475350;;
    }

    .adviser{
        background: rgba(0,0,0,0.5);
        color : white;
        /* border : 3px solid white;*/
        text-transform : uppercase;
        opacity : 0.9;

    }


    .adviser a{
        text-decoration : none;
        color : white;
        padding : 5px;
    }
    .adviser:hover{
        opacity:1;
        /*background: rgba(0,0,0,0.6);*/
        background : #4A8E65;
        border : none;
    }

    .adviser h3{
        margin-top : 0;
    }

    /* Timeline twitter */

    .list-description{
        display : none;
    }


    /* Version responsive */


    .navbar .navbar-collapse {
        text-align: center;    
    }


    /* FIN NAV */


    /* CONTENUS - GENERIQUE */


    html         { overflow-y:hidden; }


    .page        { 
        bottom:0; 
        padding-top: 120px;
        position:absolute; 
        text-align:center;
        top:0;  
        width:100%; 
        color : #475350; 
        overflow-x : hidden;
    }

    .page h2{
        text-transform : uppercase;

        width : 100%;
        text-align : center;
    }


    .page h1    { font-size:60px; }
    .page a     { margin-top:50px; }
    #about      { color:#333; position:absolute; text-align:center; top:50px; width:100%; }

    .page .centered-solo{
        padding-left : 25%;
        padding-right : 25%;
    }


    .page .content-scrollable-container{
        top  : 0%;
        position : absolute;
        height : 110%;
        width : 100%;
        overflow-y : auto;
        overflow-x : hidden;
        padding-left : 10px;
        padding-right: 10px;
        padding-top: 120px!important;
    }

    @media(max-width: 500px){

        .content-scrollable-container{
            top  : 20%;
            position : absolute;
            height : 100%;
            text-align : left;
            padding-left : 0px;
            padding-right : 0px;
            overflow-y : auto;  
            padding-bottom : 10%;
        }
    }

    .page .content-scrollable-content{
        padding-top : 5%;
        padding-bottom : 10%;
    }

    .page-reseau{
        padding-bottom : 10%;
    }

    .page-reseau p{
        text-align : left;
    }

    .page-reseau h3{
        text-align: left;
    }

    .page-reseau li{
        list-style-type : none;
        text-align: left;
    }

    .page-reseau ul{
        padding-left: 0;
    }

    .page-reseau a{
        text-decoration: none;
        color : #475350;
        font-weight: 800;
    }


    /* ANNUAIRE **/


    .annuaire-container .interface-container{
        margin-bottom : 20px;
        width: 100%;
        padding: 10px;

    }
    .annuaire-container form, .annuaire-container .btn-group{
        display : inline;
        float : left;
        margin-left : 5px;
    }


    .annuaire-container .btn-group open button{
        opacity : 0.5;
        background-color : #475350;
    }

    .annuaire-container .btn-group a{
        margin-top : 0px;
    }

    .annuaire-container button{
        background-color : #475350;
        padding : 2px;
        padding-left : 5px;
        padding-right : 5px;
        opacity : 1;
    }

    .annuaire-container button:hover{
        opacity : 0.5;
    }

    .annuaire-tile{
        text-align : left;
        padding : 10px;
        display : inline-block;
    }

    .annuaire-tile a{
        color : black;
        text-decoration: none;
        border-top : 3px solid black;
        border-bottom : 3px solid black;
    }

    .annuaire-tile h3{
        font-size : 1.1em;
        text-transform: uppercase;
        text-align : center;
    }

    .annuaire-tile ul{
        margin : 0px;
        padding : 0px;
    }

    .annuaire-tile li{
        list-style-type : none;
        padding-left : 0px;
        margin-left : 0px;
    }



    /* ITEM */

    .event-item{
        margin-bottom : 30px;
    }

    .event-item:hover{
        background-color : rgba(0,0,0,.05);
    /*border-top : 1px #475350 solid;
    border-bottom : 1px #475350 solid;*/

    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.event-item a{
    text-decoration : none;
    color : #475350;
    /*text-transform : uppercase;*/
}

.event-item .infos{
    font-style : italic;
}

.event-item .moreinfos{
    text-transform : uppercase;
    font-size : 1.3em;
}

.event-item .moreinfos:hover{
    font-weight : 800;
}



/* JOURNEES DETUDE */




.program table{
    width : 100%;
}

.program tr:hover{
    background: rgba(255,255,255,0.1);
}

.program td{
    margin-bottom : 5px;
}

.program td:first-child{
    text-align:right;
    width:35%;
    padding-right : 15px;
    font-style : italic;
}


.program td:last-child{

}

.program a{
    text-decoration : none;
    color : #475350;;
}

td:last-child div{
    border-left : 1px solid #2e3438;
    margin-bottom  :5px;
    padding-left : 10px;
    text-align : left;
}


/* google map */
#map {
    height: 500px;
}


/* PAGES
============================================================================= */
.page      {
   /*background:transparent;*/background : #D3DD74;
   padding-top : 100px;
   overflow : hidden;
}




.page-membres, .page-personne{
 background : #B2D0EC;
}

.page-evenements{
    background : #B1D69F;
}


.page-methodes{
    background : #B1D69F;
}




/*.page-about     { background:#E59400; color:#a55400; }
.page-contact   { background:#ffa6bb; color:#9e0000; }*/

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page.ng-leave{
   -webkit-animation:scaleDown 0.5s both ease-out;
   -moz-animation:scaleDown 0.5s both ease-out;
   animation:scaleDown 0.5s both ease-out; 
}

.page.ng-enter{  
    -webkit-animation:scaleUp 0.5s both ease-in;
    -moz-animation:scaleUp 0.5s both ease-in;
    animation:scaleUp 0.5s both ease-in;    
}


.nav-btn{
    text-align: center;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    cursor : pointer;
    color : #475350;
    background-color : rgba(0,0,0,0.2);
    vertical-align: center;
    text-align: center;
    padding : 10px 15px;
    text-decoration: none;
    margin-bottom: 10px;
}


.nav-btn:hover{
    border-radius : 3px 3px 3px 3px;
    background-color : rgba(0,0,0,0.5);
    border : none;
    color : white;
    text-decoration: none;
}


.page-methodes .titre{
    text-transform : uppercase;
    margin-top : 2%;
}

.page-methodes .titre h2{
    margin : 0;
}

.page-methodes .citation{
    width : 100%;
    margin : 0;
    padding-left : 25%;
    padding-right : 25%;
    padding-top : 20px;
    padding-bottom: 10px;
    margin-bottom : 20px;
}

.page-methodes #menu{
    text-align : center;
}
.page-methodes #menu ul{
    display : inline-block;
    text-align : center;
    border : none;
}

.page-methodes #menu a{
    text-decoration: none;
    text-transform: uppercase;
    cursor : pointer;
    color : #475350;
}

.page-methodes #menu a:hover{
    border-radius : 3px 3px 3px 3px;
    background-color : rgba(0,0,0,0.5);
    border : none;
    color : white;
}

.ressources-list{
    text-align: left;
}
.ressources-list li{
    list-style-type: none;
    margin-bottom: 10px;
    display:inline-block;
    margin-bottom: 10px;
}

.ressource-btn,.ressource-ctn{
    display : inline;
    float : left;
}

.ressource-btn{
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    cursor : pointer;
    color : #475350;
    background-color : rgba(0,0,0,0.2);
    vertical-align: center;
    text-align: center;
    padding : 10px 15px;
}

.ressource-btn a{
    color : inherit;
    text-decoration: none;
}

.ressource-btn:hover{
    border-radius : 3px 3px 3px 3px;
    background-color : rgba(0,0,0,0.5);
    border : none;
    color : white;
}

.ressource-ctn{
    width : 70%;
    padding-left: 10px;
}


/*Contact*/

.page-contact img{
    width : 5%;
    height : 5%;
    opacity : 0.3;
    transition: all 1s ease;
}

.page-contact img:hover{
    opacity : 0.6;

    transform:scale(1.1)
    rotate(-360deg); 
}


/* scale up */
@keyframes scaleUp {
    from        { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
    from        { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
    from        { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* scale down */
@keyframes scaleDown {
    to        { opacity: 0.3; transform: scale(0.3); }
}
@-moz-keyframes scaleDown {
    to        { opacity: 0.3; -moz-transform: scale(0.3); }
}
@-webkit-keyframes scaleDown {
    to        { opacity: 0.3; -webkit-transform: scale(0.3); }
}


/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}