h4{
	padding-bottom: 0;
	margin-bottom: 0;
}

.profile-aside-left,.profile-aside-right{
	/*padding-top : 6%;*/
}

.profile-aside-left{
	text-align : left;
	padding-left : 3%;
}

.profile-aside-left>img{
	width : 100%;
	margin-bottom : 5%;
}

.profile-aside-left a{
	text-decoration : none;
	color:#333333;
}

.profile-aside-left a:hover{
	text-decoration : none;
	color:#333333;
}
/* MAIN */

.profile-main{
	text-align : left;
	padding-bottom : 20%;
}

.profile-main h2{
	margin-top : 0;
	text-transform: none;
	text-align : left;
}

/* RIGHT */
.profile-aside-right{
	text-align : left;
}