<section
  ng-controller="EvtCartel"
  class="evt-cartel animate"
  itemscope itemtype="http://schema.org/Event"
>
  <h4>
    <span itemprop="name" ng-if="evenement.page_visible !== 'oui'" ng-bind="evenement.titre"></span>
    <a itemprop="name" ng-if="evenement.page_visible === 'oui'" ng-href="evenements/{{evenement.identifiant}}" ng-bind="evenement.titre"></a>
  </h4>

  <p class="evt-cartel-place-date">
    <span  itemprop="startDate" ng-bind="prettyDate(evenement.date)"></span> - <span ng-bind="(evenement.lieu.length)?evenement.lieu:'Lieu à définir'" itemprop="location"></span>
  </p>

  <p class = "description" ng-bind="evenement.description_rapide"></p>

  <p class="evt-cartel-link" ng-if="evenement.page_visible === 'oui'">
    <a ng-href="/evenements/{{evenement.identifiant}}">Plus d'informations</a>
  </p>
</section>
