<div
  class="membre-page"
  ng-controller="MembreController"
  itemscope itemtype="http://schema.org/Person"
>
  <section class="top-cartel row flexed">
    <section class="image-container">
        <img ng-src="{{membre.image_url}}" alt="membre.identifiant">
    </section>

    <section class="profile-main">
      <h2>
        <span itemprop="givenName" ng-bind="membre.surname"></span>
        <span itemprop="familyName" ng-bind="membre.name"></span>
      </h2>

      <h3 ng-bind="(membre['defenseyeariffinished'].length)?'Docteur depuis '+membre['defenseyeariffinished']:'Doctorant.e'"></h3>
      <div itemprop="affiliation" ng-bind-html="buildAffiliation()"></div>


      <div ng-show="membre.researchtopickeywordsseparatedbycomasfr != ''">
        <h4>Mots-clés de recherche</h4>
        <p ng-bind="membre.researchtopickeywordsseparatedbycomasfr"></p>
      </div>
    </section>
  </section>

  <section class="row flexed">
    <section
      class="profile-bio"
      ng-show="membre.minibio140carfr || membre.minibio140caren || membre.workingcitiesseparatedbycomas != ''"
    >
          <h2>À propos</h2>
          <p itemprop="description" ng-bind="(membre.minibio140carfr.length)?membre.minibio140carfr:membre.minibio140caren">
          </p>

        <div itemprop="workLocation" ng-show = "membre.workingcitiesseparatedbycomas != ''" ng-bind="'Travaille à '+membre.workingcitiesseparatedbycomas+'.'"></div>
    </section>

    <section
      ng-if = "membre.emailpublic || membre.phonepublic || membre.site || membre.sites.length"
      class="profile-contacts"
    >
      <h2>Contacts</h2>
      <div itemprop="email" ng-show = "membre.emailpublic != ''" ng-bind="'E-mail : '+membre.emailpublic"></div>
      <div itemprop="telephone" ng-show = "membre.phonepublic != ''" ng-bind="'Téléphone : '+membre.phonepublic"></div>
      <div itemprop="url" ng-show = "membre.site != ''">Site web personnel : <a target="_blank" href="{{ membre.site }}" ng-bind="membre.site"></a></div>
      <div ng-show = "membre.sites.length > 0">
        <p>Autres sites :
          <span ng-repeat="site in membre.sites"><a itemprop="url"  target="_blank" ng-href="{{site.url}}" ng-bind="site.text"></a><span ng-if="!$last">, </span></span>.
        </p>
      </div>
    </section>
  </section>


  <section class="profile-these row">
    <div
      ng-if="membre.phdthesistitlefr || membre.phdthesistitleen || membre.phdsupervisornamesurname || membre.phdadvisorcoencadrantnamesurnamesparatedbycomas"
      itemprop="mainEntityOfPage"
      itemtype="http://schema.org/CreativeWork"
    >
      <h2>Thèse</h2>
      <blockquote
        itemprop="name"
        class="titre-these"
        ng-bind="(membre.phdthesistitlefr.length)?membre.phdthesistitlefr:membre.phdthesistitleen"
      >
      </blockquote>

      <!--direction-->
      <div ng-show="membre.phdsupervisornamesurname != ''">
        <p
          itemprop="contributor"
          ng-bind="'Direction : '+membre.phdsupervisornamesurname"
        >
        </p>
      </div>
      <!--autres encadrants-->
      <div ng-show="membre.phdadvisorcoencadrantnamesurnamesparatedbycomas != ''">
        <p
          ng-bind="'Autres encadrants : '+membre.phdadvisorcoencadrantnamesurnamesparatedbycomas"
        >
        </p>
      </div>

      <!--dates et fin-->
      <div ng-show="membre.startyear">
        <p>
          <span ng-bind="'Recherche doctorale débutée en '+membre.startyear"></span>
          <span ng-show="membre.defenseyeariffinished">, soutenue en {{membre.defenseyeariffinished}}</span>.
        </p>
      </div>

      <div class="resume-these">
        <h4 ng-if="membre.phddescriptionfr || membre.phddescriptionen">Résumé de la thèse :</h4>
        <blockquote itemprop="description" ng-if="membre.phddescriptionfr || membre.phddescriptionen" class="description-these" ng-bind="(membre.phddescriptionfr.length)?membre.phddescriptionfr:membre.phddescriptionen">
        </blockquote>
      </div>
    </div>
  </section>
</div>
