<section id="evenements" class="content-section" ng-switch="loadingStatus">
  <div ng-switch-when="loading">
    <div  ng-include="'components/loading-states/loading.html'"></div>
  </div>
  <div ng-switch-when="error">
    <div ng-include="'components/loading-states/error.html'"></div>
  </div>
  <div class="content" ng-switch-when="ok">
    <div ng-if="!evenementId">
      <h1>Les évènements du réseau</h1>
      <form class="search-evenement">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" ng-model="searchEvenement" placeholder="chercher dans les évènements">
      </form>
      <section class="evenements">
        <div
            ng-include="'components/evt-cartel/evt-cartel.html'"
            ng-repeat="evenement in data | orderBy:date:'true' | filter:searchEvenement track by $index"
          ></div>
      </section>
    </div>
    <div ng-if="evenementId" ng-include="'components/evenement-page/evenement-page.html'" ng-init="evenement = data">
    </div>
  </div>
</section>
