<div class="navbar navbar-default navbar-static-top animate" ng-controller="NavbarCtrl"   ng-class="{'scroll-at-top': scrollAtTop}">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand">Design en Recherche</a> -->
      <div class="animate" id="designLogo" der-logo="$parent.$parent.membres">
      <a id="brand-text" class="animate" href="/" ng-bind-html="brandPlaceHolder">Design<br>En recherche</a>

      </div>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: $parent.routeId === item.id}">
            <a id="{{item.id}}" ng-href="{{item.link}}" ng-bind-html="item.title"></a>
        </li>
        <li
          class="item in menu" id="recherche"
          ng-init="showSearch = false"
        >
          <form
            class="inline-form"
            ng-submit="goToSearchPage()"
            ng-class="{'search-mode' : showSearch}"
          >
            <input type="submit" style="display:none">
            <span
            ng-click="showSearch = !showSearch"
            >
              <span ng-if="!showSearch">Rechercher</span>
              <span
                class="glyphicon glyphicon-search"
                style="margin-left : 1em"
              ></span>
            </span>
            <!-- <input
              ng-model="$parent.$parent.globalSearch"
              focus-me="showSearch"
              type="text"> -->

            <angucomplete-alt
              focus-me="showSearch"
              placeholder="Rechercher"
              pause="100"
              id="quick-search"

              focus-me="showSearch"
              focus-out="showSearch = false"

              remote-url="/api/search?q="
              remote-url-response-formatter="formatQuickSearchResponse"
              input-changed="quickSearchChange"
              title-field="titre"
              description-field = "matchType"

              selected-object="newQuickSearch"

              text-searching="recherche en cours"
              text-no-results="pas de résultats"

              minlength="2"
              input-class=""
            />

          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
