<section id="introduction" class="content-section" ng-switch="introStatus">
  <div ng-switch-when="loading">
    <div  ng-include="'components/loading-states/loading.html'"></div>
  </div>
  <div ng-switch-when="error">
    <div ng-include="'components/loading-states/error.html'"></div>
  </div>
  <div class="content" ng-switch-when="ok" ng-bind-html="introContent">
  </div>
</section>

<section id="prochains-evenements" class="content-section" ng-switch="evtsStatus">
  <div ng-switch-when="loading">
    <div  ng-include="'components/loading-states/loading.html'"></div>
  </div>
  <div ng-switch-when="error">
    <div ng-include="'components/loading-states/error.html'"></div>
  </div>
  <div class="content" ng-switch-when="ok">
    <h3 ng-if="prochainsEvts.length > 0" ng-bind="(prochainsEvts.length>1)?'Prochains évènements du réseau':'Prochain évènement du réseau'"></h3>
    <section
      class="evenement-cartel"
      ng-repeat="evenement in prochainsEvts track by $index"
    >
      <h4>
        <span ng-if="evenement.page_visible !== 'oui'" ng-bind="evenement.titre"></span>
        <a ng-if="evenement.page_visible === 'oui'" ng-href="evenements/{{evenement.identifiant}}" ng-bind="evenement.titre"></a>
      </h4>
      <p class="cartel-place-date">
        <span ng-bind="prettyDate(evenement.date)"></span> - <span ng-bind="(evenement.lieu.length)?evenement.lieu:'Lieu à définir'"></span>
      </p>
    </section>
  </div>
</section>

<section id="twitter-msgs" class="content-section">

</section>
