<section id="introduction" class="content-section" ng-switch="introStatus">
  <div ng-switch-when="loading">
    <div  ng-include="'components/loading-states/loading.html'"></div>
  </div>
  <div ng-switch-when="error">
    <div ng-include="'components/loading-states/error.html'"></div>
  </div>
  <div class="content" ng-switch-when="ok" ng-bind-html="introContent">
  </div>
</section>

<section id="prochains-evenements" class="content-section" ng-switch="evtsStatus">
  <div ng-switch-when="loading">
    <div  ng-include="'components/loading-states/loading.html'"></div>
  </div>
  <div ng-switch-when="error">
    <div ng-include="'components/loading-states/error.html'"></div>
  </div>
  <div class="content" ng-switch-when="ok">
    <h2 ng-if="prochainsEvts.length > 0" ng-bind="(prochainsEvts.length>1)?'Prochains évènements du réseau':'Prochain évènement du réseau'"></h2>
    <section
      class="evenement-cartel"
      ng-repeat="evenement in prochainsEvts track by $index"
      ng-include="'components/evt-cartel/evt-cartel.html'"
    >
    </section>
  </div>
</section>

<!-- <section id="twitter-msgs" class="content-section">
  <h2 ng-if="twitterLoaded">Derniers tweets des membres du réseau</h2>


  <twitter-timeline twitter-timeline-id="'498826216128778241'"
                  twitter-timeline-options='{"chrome": "transparent noborders noheader nofooter", "width" : "2000", "theme" : "light"}'>
  </twitter-timeline>
</section>
 -->
