
<div class='content-scrollable-container'>

	<div class='content-scrollable-content'>
		

<h2>{{ 'CONTACTNAV' | translate}}</h2> 



<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h3>Le réseau sur le web</h3>

		<p>Les activités quotidiennes de Design en Recherche sont visibles via les réseaux sociaux et notre carnet de recherche :</p>


		<a href="https://www.facebook.com/designrecherche?" target=="_blank">
			<img src="images/logo-facebook.png" alt="Facebook" title="Nous suivre sur Facebook">
		</a>

		<a href="https://twitter.com/DesignRecherche" target=="_blank">
			<img src="images/logo-twitter.png" alt="Twitter" title="Nous suivre sur Twitter">
		</a>

		<a href="http://design.hypotheses.org/" target=="_blank">
			<img src="images/logo-hypotheses.png" alt="Hypotheses" title="Nous suivre sur Hypothèses">
		</a>
		
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>Rejoindre le réseau</h3>

<p>Design en Recherche est ouvert à tous les doctorants et docteurs depuis moins de 3 ans qui souhaitent partager leur intérêt scientifique pour le design. Pour nous rejoindre, contactez nous à l'adresse suivante :</p>
<p>
	<a href="mailto:designenrecherche@gmail.com">designenrecherche@gmail.com</a>
</p>
	</div>
</div>


</div>
</div>