

<div class='content-scrollable-container'>

	<div class='content-scrollable-content'>
		
		<h2>{{ 'EVENTSNAV' | translate }}</h2>

		<div class="container"> 
			<div class="row mar-bot40 event-item">
				<a href="#evenements/methodes">
					<div class="col-md-offset-0 col-md-12" ng-click="go('#methodes')"
					ng-mouseover="showInLogo('de-mourat-robin','royer-marine', 'ocnarescu-ioana', 'renon-anne-lyse')"
					ng-mouseleave = "hideMembersLogo()"
					>
					<h3>Faut-il rédiger les méthodes de la recherche en design ?</h3>
					<p class='infos'>ENSCI - 2 Octobre 2014</p>
					<p>Invité: Alain Findeli (Université de Nîmes)
					</p>
					<p>
						En raison de leurs nombreuses affiliations culturelles et disciplinaires, les méthodes et méthodologies convoquées par la recherche en design sont particulièrement riches et controversées. Que nous apprend cette diversité sur la multiplicité des connaissances produites par la recherche en design ? Cette dernière est-elle condamnée à importer des méthodologies issues d’autres disciplines ou peut-elle prétendre à une spécificité intrinsèque ? Le propre d’une recherche en design n’est-il pas aussi de faire preuve d’une forme « d’invention » méthodologique ?
					</p>
					<p>
						Cette journée d'étude a été coordonnée par Robin de Mourat (Université Rennes 2), Ioana Ocnarescu (École Nationale Supérieure des Arts et Métiers ParisTech & Strate), Anne-Lyse Renon (EHESS, CNRS), Marine Royer (EHESS, ENSCI-Les Ateliers).
					</p>
					<p><a class='moreinfos' href="#evenements/methodes">{{ 'MOREINFO' | translate }}</a></p>
				</div><!--col-md-offset-3 col-md-6 -->
			</a>
		</div><!--row mar-bot40-->


		<div class="row mar-bot40 event-item">
			<a href="#evenements/projet">
				<div class="col-md-offset-0 col-md-12" ng-mouseover="showInLogo('rabate-olympe','bougourd-caroline', 'langlois-amandine')"
				ng-mouseleave = "hideMembersLogo()">
				<h3>Thèses en design, thèses en architecture : Quel sort pour le projet ?</h3>
				<p class='infos'>ENSAD - École Nationale Supérieure des Arts Décoratifs - Mardi 3 Mars 2015</p>

				<p>
					Le propre des thèses en design ou en architecture, est de s’intéresser au(x) projet(s). Leur apparition récente confronte la recherche à la question de la pratique, et par elle à celle du projet. Si la conduite et la réalisation de projets est au cœur de ces deux disciplines, comment la recherche - en design et en architecture - s’atèle-t-elle à définir cette notion de projet ? Quel statut ce projet prend-il dans les thèses déjà soutenues ou en cours ? Existe-t-il une spécificité de la recherche en design et en architecture vis-à-vis de cette notion de projet ?
				</p>
				<p>
					Cette Journée d’étude sera coordonnée par Olympe Rabaté (Université Paris 1), Caroline Bougourd (Université Paris 1) et Amandine Langlois (Université Tours / ENSAPLV).
				</p>

				<p><a class='moreinfos' href="#evenements">Informations à venir</a></p>
			</div><!--col-md-offset-3 col-md-6 -->
		</a>
	</div><!--row mar-bot40-->



	<div class="row mar-bot40 event-item">
		<a href="#evenements">
			<div class="col-md-offset-0 col-md-12" ng-mouseover="showInLogo('masure-anthony', 'renon-anne-lyse', 'maximo-thiago')"
			ng-mouseleave = "hideMembersLogo()">
			<h3>Enseigner le design graphique</h3>
			<p class='infos'>Campus de la fonderie de l'image - Mai 2015</p>

			<p>
				Depuis la création du Bauhaus en 1919 par Walter Gropius, l’enseignement du design pose des problèmes qui lui sont propres, entre art et industrie. Dans le même temps, il rejoue des enjeux plus anciens autour du développement de la créativité ou de la maîtrise technique. Alors que la culture anglo-saxonne distingue plusieurs types de design, peut-on considérer que ces catégories engendrent des débats spécifiques ? Le design graphique possède-t-il des caractéristiques qui font que son enseignement diffère des autres champs ? Cette journée d’études sera l’occasion de revenir sur l’histoire d’institutions clés, et de regarder en face des pratiques émergentes et prospectives, étant entendu que les poussées techniques contemporaines déplacent les modalités pédagogiques. Le travail du signe dans la diversité des écrans, des plans et des espaces nécessite-t-il d’inventer de nouvelles formes d’enseignement ?
			</p>
			<p>
				Cette journée d’étude sera coordonnée par Anthony Masure (Université Paris 1), Anne-Lyse Renon (EHESS, CNRS) et Thiago Maximo (Paris 8).
			</p>

			<p><a class='moreinfos' href="#evenements">Informations à venir</a></p>
		</div><!--col-md-offset-3 col-md-6 -->
	</a>
</div><!--row mar-bot40-->




</div><!--container-->


</div><!--content-scrollable-content -->
</div><!-- content-scrollable-container -->