
<div class='content-scrollable-container'>

	<div class='content-scrollable-content'>
	


		<div class="row mar-bot10" style='margin-top:5%'>
				<h1>Bienvenue sur design en recherche</h1>

			<h3>Le réseau des jeunes chercheurs en design</h3>

		</div>

		<div class="row mar-bot10">
			<div class="col-md-8 col-md-offset-2">
				<p>Le groupe de travail « Design en recherche », formé en mars 2013, est un réseau de doctorant-e-s et jeunes docteur-e-s dont les recherches portent sur les thématiques émergentes d’étude et de pratique du design.
		Constituée en association (loi 1901) depuis décembre 2013, nous sommes persuadé-e-s de l’intérêt scientifique des espaces de collaboration entre les jeunes chercheur-e-s issu(e)s d’horizons disciplinaires, institutionnels et géographiques divers, mais travaillant sur des thèmes communs.</p>
			</div>
		</div>
	
	
		<div class="row mar-bot10" >
			<div class="col-md-8 col-md-offset-2 adviser">

				<a href="/pdf/JE-2_DeR_theses_design_architecture_et_projet.pdf">
								<h4>Prochain évènement du réseau : </h4>
								<h3>Thèses en design,<br> thèses en architecture : <br>Quel sort pour le projet ?</h3>
								<h4>Mars 2015 - École Nationale Supérieure des Arts Décoratifs </h4>
							</a>
				
			</div>
							
		</div>



	<!-- infos from networks - later
	<div class="row mar-bot10">
						
						<div class="col-md-4">
							<h3 class="ss-titre">Derniers membres inscrits</h3>
						</div>
						<div class="col-md-4">
							<h3 class="ss-titre">Derniers tweets</h3>
							<div class="twitterback">
								<a class="twitter-timeline" href="https://twitter.com/DesignResearch_/lists/design-en-recherche" data-widget-id="501364632330588161">Tweets de https://twitter.com/DesignResearch_/lists/design-en-recherche</a>
							</div>
						</div>
						<div class="col-md-4">
							<h3 class="ss-titre">Derniers billets</h3>
						</div>
	</div>
-->
	
	


</div>
</div>