
<div class='content-scrollable-container'>
	<div class='content-scrollable-content'>
		<div class="container">
			<div class="row mar-bot10">
				<div class="col-md-8 col-md-offset-2">
					<h1>Bienvenue sur design en recherche</h1>

					<h3>Le réseau des jeunes chercheurs en design</h3>
				</div>

			</div>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<p>Le groupe de travail « Design en recherche », formé en mars 2013, est un réseau de doctorant-e-s et jeunes docteur-e-s dont les recherches portent sur les thématiques émergentes d’étude et de pratique du design.
						Constituée en association (loi 1901) depuis décembre 2013, nous sommes persuadé-e-s de l’intérêt scientifique des espaces de collaboration entre les jeunes chercheur-e-s issu(e)s d’horizons disciplinaires, institutionnels et géographiques divers, mais travaillant sur des thèmes communs.</p>
					</div>
				</div>


				<div class="row" >
					<div class="col-md-8 col-md-offset-2 adviser">

						<a href="#evenements/projet">
							<h4>Prochain évènement du réseau : </h4>
							<h3>Thèses en design,<br> thèses en architecture : <br>Quel sort pour le projet ?</h3>
							<h4>3 Mars 2015 - École Nationale Supérieure des Arts Décoratifs </h4>
						</a>

					</div>

				</div>



				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="ss-titre">
							<a href="https://twitter.com/DesignRecherche">
								Derniers tweets du réseau
							</a>
					</h3>
					<div class="twitterback" twitter-timeline="498826216128778241" css-url="styles/twitter.css" auto-resize="true">
					</div>
					</div>
				</div>




			</div>
		</div>
	</div>