

<div class='content-scrollable-container'>

	<div class='content-scrollable-content'>

		<h2>{{membre.surname}} {{membre.name}}</h2>

		<div ng-show = "membre.e-mailpublic != ''">{{membre.e-mailpublic}}</div>

		<div ng-show = "membre.etablissement1 != ''">Établissement 1 : {{membre.etablissement1}}</div>		

		<p style="margin-top:30px; margin-bottom:30px"><a href="javascript:history.back()"  class='nav-btn'>Retour à la page précédente</a></p>

		<p><a href="#membres"  class='nav-btn'>Voir l'annuaire complet des membres de Design en Recherche</a></p>

	</div>
</div>
