<div class='content-scrollable-container'>

	<div class='content-scrollable-content evenement'>
		

		<div class="row">
			
			<div class="col-md-offset-3 col-md-6 titre">
				<h4>journée d'étude</h4>
				<h2>Thèses en design, thèses en architecture : <br>Quel sort pour le projet ?</h2>
				<h4>Mardi 3 Mars 2015 - ENSAD - École Nationale Supérieure des Arts Décoratifs, Paris (amphi Bachelier)</h4>
			</div>
			<div class="col-md-offset-3 col-md-6 citation">
				<blockquote>
					Le projet aux différentes échelles est considéré ici comme un dispositif cognitif, producteur d’un nouveau savoir, outil d’exploration d’un contexte et d’intégration de nouveaux éléments aux connaissances existantes. Le projet est une forme d’étude et de recherche ; c’est une
					reconstruction, une contextualisation et une réorganisation de la réalité.
				</blockquote>
				<p class="citation-attribution">
					Paola Vigano, <span class="titre-livre">Les territoires de l’urbanisme - Le projet comme producteur de connaissance</span>, MétisPresses, 2012.
				</p>
			</div>
		</div>

		<div class="row">
							<div class="col-md-offset-3 col-md-6">
								<h3 id="storify">Récit de l'évènement</h3>

								<div class="storify"><iframe src="//storify.com/DesignRecherche/theses-en-architecture-theses-en-design-quel-sort/embed?header=false&border=false" width="100%" height="750" frameborder="no" allowtransparency="true"></iframe><script src="//storify.com/DesignRecherche/theses-en-architecture-theses-en-design-quel-sort.js?header=false&border=false"></script><noscript>[<a href="//storify.com/DesignRecherche/theses-en-architecture-theses-en-design-quel-sort" target="_blank">View the story "Thèses en architecture, thèses en design : quel sort pour le projet ?" on Storify</a>]</noscript></div>
							</div>

		</div>

		

		<div class="row">	
			<div class="col-md-offset-3 col-md-6">
				<h3 id="argument" style="text-align : center;">Les disciplines du projet face à la recherche</h3>

				<p>
					Le design, dans son acceptation anglo-saxonne de conception, est l’art de projeter, d’imaginer, de concevoir et de réaliser. Le design fait partie des « disciplines du projet », au même titre que l’architecture, l’urbanisme et le paysage qui construisent leur corpus par projets successifs (réels ou fictifs, aboutis ou non). Si ces disciplines ont en commun le projet comme expertise partagée, quel sort lui réservent-elles dans leur recherche doctorale ?
				</p>
				<p>
					La recherche connaît une crise du savoir expert, un savoir nourri aux théories baignant souvent dans l’abstraction. Le projet lui, qu’il soit de design ou d’architecture, se nourrit de situations hybrides, il s’inscrit dans des mondes réels ou imaginaires. Il a la capacité de créer du lien entre différents acteurs, savoirs, disciplines et échelles. Il incarne une forme de connaissance empirique et ancrée dans le monde.
				</p>
				<h3>Doctorats en design, doctorats en architecture :<br>
					quelle place pour le projet ?
				</h3>
				<p>
					Le propre des thèses en design ou en architecture, est de s’intéresser au(x) projet(s). Leur apparition récente confronte la recherche à la question de la pratique et par elle, à celle du projet. Si la conduite et la réalisation de projets est au coeur de ces deux disciplines, comment la recherche -en design et en architecture- s’atèle-t-elle à définir cette notion de projet ? Quel statut ce projet prend-t-il dans les thèses déjà soutenues ou en cours ? Existe-t-il une spécificité de la recherche en design et en architecture vis-à-vis de cette notion de projet ?
				</p>
				<h3 style="text-align : center;">Objectifs de la journée d’étude
				</h3>
				<p>
					Nous souhaitons que cette journée soit l’occasion de fédérer une communauté dépassant les frontières disciplinaires établies entre architecture et design. L’un des objectifs sera de faire dialoguer des chercheurs en architecture et des chercheurs en design avec des acteurs professionnels de ces deux disciplines.
					Cette journée abordera les questions suivantes : De quelle manière l’étude, la critique ou la production de projets contribue-t-elle à la singularité de la recherche en design et en architecture ? En quoi cette recherche sur le projet, ou par le projet, se distingue-t-elle de celles menées dans d’autres disciplines ? Le projet produit-il en lui-même une nouvelle forme de connaissance, de savoir empirique ?
				</p>
				<h4>Comité d’organisation :
				</h4>
				<ul>
					<li><person>Olympe Rabaté</person>, Designer, Doctorante en design & esthétique, Université Paris 1 - Panthéon Sorbonne </li>
					<li><person>Amandine Langlois</person>, Designer, Doctorante en aménagement, Université François Rabelais Tours / ENSAPLV </li>
					<li><person>Caroline Bougourd</person>, Enseignante et  Doctorante en design & esthétique, Université Paris 1 - Panthéon Sorbonne </li>
				</ul>
			</div>
		</div>

		<div class="row program">
	<div class="col-md-offset-3 col-md-6">
		<h3 id="programme">
			Programme
		</h3>
	</div>
	<div class="col-md-offset-3 col-md-6">
		<table>
			<tr>
				<td>
					9h-9h20
				</td>
				<td>
					<div>
						Accueil des participants
					</div>
				</td>
			</tr>


			<tr>
				<td>9h20-9h30</td>
				<td>
					<div>
						<h4>
							Présentation du réseau « Design en Recherche »
						</h4>
						<p>
							<person>Caroline Bougourd, Enseignante et doctorante en design &amp; en esthétique, Université Paris 1 - Panthéon Sorbonne
							</person>
						</p>
					</div>
				</td>
			</tr>

			<tr>
				<td>9h30-10h</td>
				<td>
					<div>
						<h4>
							Introduction de la journée, « Design / Projet : quand deux complexités se rencontrent »
						</h4>
						<p>
							<person>Robert Prost, Ingénieur, architecte, docteur en planification urbaine
							</person>
						</p>
					</div>
				</td>
			</tr>



			<tr>
				<td>10h-11h</td>
				<td>
					<div>
						<h4>
							De quoi parle-t-on quand on parle de projet ?
						</h4>
						<p>
							Ce débat porte sur le sens même du mot projet, son emploi, ses acceptations et ses possibles dérives, en confrontant chercheurs et praticiens des deux disciplines sur cet objet qu’est le projet.
						</p>
						<p>
							Modératrice : <br>
							<person>
								Amandine Langlois - Designer, Doctorante en aménagement, Université François Rabelais Tours / ENSAPLV
							</person>
						</p>
						<p>
							Discutants :<br>
							<person>
								Apolline Le Gall, Doctorante en sciences de gestion, Université Grenoble Alpes
							</person><br>
							<person>
								Jérôme Gueneau, Architecte, doctorant en anthropologie des techniques à l’EHESS Marseille, enseignant à l’ENSA Marseille
							</person><br>
							<person>
								Thomas Brosset, Chercheur en urbanisme, contrat CIFRE avec Quelleville, bureau d’étude spécialisé sur les questions de stratégies foncières
							</person><br>
							<person>
								Émeric Lambert, Architecte, co-fondateur de l’agence PARC Architectes, docteur EPFL en sciences de la ville, enseignant à l’ENSA Versailles
							</person><br>
						</p>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				11h-11h30</td>
				<td>
					<div>
						Échanges avec la salle
					</div>
				</td>
			</tr>

			<tr>
				<td>
					11h30-13h</td>
					<td>
						<h4>Workshop critique, « Briser le jeu, déverrouiller le projet »</h4>
						<p>Animé par Jil Daniel, graphisme culturel et social</p>
					</td>
				</tr>

				<tr>
					<td>
						13h-14h30</td>
						<td>
							<div>
								Pause déjeuner
							</div>
						</td>
					</tr>

					<tr>
						<td>14h30-16h30</td>
						<td>
							<div>
								<h4>
									Que fait-on de ces projets, quel statut ont-ils dans la thèse ?
								</h4>
								<p>
									Ce débat porte sur le rôle que prennent ces projets au sein de la recherche : sont-ils étudiés à titre d’exemple, suivis comme une complexité autonome, considérés comme un terrain, critiqués éthiquement ou formellement ? La recherche dans ces disciplines doit-elle aller jusqu’à produire du projet ?
								</p>
								<p>
									Modératrice : <br>
									<person>
										Olympe Rabaté - Designer, Doctorante en design & en esthétique, Université Paris 1 - Panthéon Sorbonne
									</person>
								</p><p>
								Discutants :<br>
								<person>
									Pauline Gourlet, Graphiste, designer diplômée de l’ENSAD, doctorante à l’Université Paris 8 en partenariat avec l’EnsadLab
								</person><br>
								<person>
									Margaux Vigne, Paysagiste, doctorante à l’École d’Architecture de Nantes
								</span><br>
								<person>
									Étienne Delprat, Architecte, artiste, membre du collectif YA+K, doctorant à l’Université Paris 1 - Panthéon-Sorbonne
								</person><br>

							</p>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						16h-16h30</td>
						<td>
							<div>
								Échanges avec la salle
							</div>
						</td>
					</tr>

					<tr>
						<td>16h30-17h</td>
						<td>
							<div>
								<h4>Conclusion de la journée</h4>
								<p>Robert Prost et les organisatrices : <person>Olympe Rabaté</person>, <person>Amandine Langlois<person> et <person>Caroline Bougourd</person></p>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>

<!--
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="inscriptions">Inscription</h3>
				<div><iframe  src="//eventbrite.fr/tickets-external?eid=15486521603&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>		
			</div>
		</div>
	-->

		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="lieu" style="text-align : center;">Lieu</h3>
				<p>École Nationale Supérieure des Arts Décoratifs<br>
					Amphi Bachelier<br>
					31 rue d'Ulm, 75005 Paris<br>
					Accès : métro Place Monge (ligne 7), métro Cardinal-Lemoine (ligne 10),
					métro Luxembourg (RER B)<br>
					<a href="www.ensad.fr">www.ensad.fr</a>
				</p>			
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-3 col-md-6 credits">
				<h3>
					Crédits
				</h3>

				<p>
					Nous remercions l’ENSAD pour son accueil, Max Mollon pour avoir fait l’interface entre l’ENSAD et le réseau ainsi que tous les membres de l’association « Design en Recherche » qui ont contribué à la naissance du réseau et à l’organisation de cette journée.
				</p>
				<p>
					Cette journée d’étude est financée par le dispositif « Journées de Doctorants » du Campus Condorcet.
				</p>
				<p>
					Plus d’informations : <br>
					<a href="http://www.campus-condorcet.fr/">http://www.campus-condorcet.fr/</a>
				</p>
				<div class="credits-images">
					<img src="images/logo-condorcet.jpg" alt="">
				</div>
				
			</div>
		</div>


		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 class="adviser">
					<a href="pdf/der-JE-2.pdf">Voir cet appel au format PDF</a>
				</h3>
			</div>
		</div>




	</div><!--content-scrollable-content -->
</div><!-- content-scrollable-container -->