

<!--hosts scrollable page -->
<div class='content-scrollable-container'>
	<!--page which scrolls -->
	<div class='content-scrollable-content evenement'>


		<div class="row">
			<div class="col-md-offset-3 col-md-6 titre">
				<h4>évènement du réseau</h4>
				<h2>Enseigner/designer</h2>
				<h3>L'enseignement du design graphique aux frontières du numérique</h3>
				<h4>7 Mai 2015 - École des Hautes Études en Sciences Sociales</h4>
			</div>
			<!--<div class="col-md-offset-3 col-md-6 citation">
				<blockquote>
					<p>
						Ainsi mon dessein n’est pas d’enseigner la méthode que chacun doit suivre pour bien conduire sa raison, mais de faire voir en quelle sorte j’ai tâché de conduire la mienne.
					</p> 
				</blockquote>
				<p class="citation-attribution">
					René Descartes, <span class="titre-livre">Discours de la méthode</span>, 1637.
				</p>
			</div>-->

		</div>



		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="argument">Argument</h3>

				<p>
					Depuis la création du Bauhaus en 1919 par Walter Gropius, l'enseignement du design pose des problèmes qui lui sont propres, entre art, industrie, et transmission. Dans le même temps, il rejouait déjà des enjeux historiques autour du développement de l'inventivité ou de la maîtrise technique. Alors que les écoles d'art et de design s'interrogent depuis de nombreuses années sur la place et le rôle du numérique dans l'enseignement, cette journée sera l'occasion d’échanger sur ces notions dans le contexte du design graphique.
				</p>
				<p>
					La matinée sera consacrée à la présentation de plusieurs perspectives de recherche engagées en écoles d’art, avec une discussion autour de leurs singularités pédagogiques. L’après-midi, nous aurons l’occasion de discuter sur les pratiques d'enseignement dites alternatives issues ou reconfigurées par le numérique (plateformes en ligne, tiers-lieux d'apprentissage, etc.). Une table-ronde réunissant tous les intervenants clôturera la journée.
				</p>

			</div>
		</div>

		<div class="row program">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="programme">
					Programme
				</h3>
			</div>
			<div class="col-md-offset-3 col-md-6">

				<table>
						<tr>
							<td>
								9h-13h
							</td>
							<td>
								<div>
									<h4>
										Table ronde 1
									</h4>
									
									<p>
										<person>
											Luc Dall’Armellina - ESPE Versailles / labo EMA-UCP
										</person><br>
										<person>
											Thomas Huot Marchand - ANRT Nancy
										</person><br>
										<person>
											Alexis Chazard - ESAD Valence
										</person>
									</p>
								</div>
							</td>
						</tr>

						<tr>
							<td>
								14h30-18h
							</td>
							<td>
								<div>
									<h4>
										Table ronde 2
									</h4>
									
									<p>
										<person>
											Frédéric Bardeau - <a href="http://simplon.co/">Simplon.co</a>
										</person><br>
										<person>
											Antonella Tufano - Gerphau-LAVUE / ENSA Paris La Villette
										</person>
									</p>
								</div>
							</td>
						</tr>

				</table>
				<p>Programme détaillé à venir ...</p>
			</div>
		</div>


		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="comite">Comité d'organisation</h3>

				<ul class="comite">
					<li><person>Anthony Masure</person></li>
					<li><person>Thiago Máximo</person></li>
					<li><person>Anne-Lyse Renon</person></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="inscription">S'inscrire à la journée</h3>

				<div><iframe  src="//eventbrite.fr/tickets-external?eid=16545250289&ref=etckt" frameborder="0" height="300" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>		
	
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="affiche">Affiche</h3>
				
				<!--
				pdf display disactivated - problem with grunt build (didn't figure out what was wrong, worked in dev mode)
				<div 
				class="pdf-container"
				style="background:white;"
				ng-init="afficheURL = 'enseigner-designer.pdf'">
					<pdf-viewer
						url="afficheURL"
						delegate-handle="pdf-container"
					  ></pdf-viewer>
				</div>	-->

				<img style="width : 100%" src="images/enseigner-designer.jpg" alt="">

				<div><a href="pdf/enseigner-designer.pdf">Télécharger l'affiche de la journée</a></div>
	
			</div>
		</div>

						<div class="row">
							<div class="col-md-offset-3 col-md-6 credits">
								<h3>Soutiens</h3>

								<p>
									Nous remercions chaleureusement tous les membres du réseau et les autres personnes qui nous ont aidé à organiser cet évènement. <br>
									Cette journée a bénéficié du soutien financier du Campus Condorcet et de l'EHESS.
								</p>
								<div class="credits-images">
									<img src="images/logo-condorcet.jpg"alt="">
									<img src="images/logo-ehess.jpg" alt="">
								</div>

							</div>
						</div>
					</div>

				</div><!--END content-scrollable-content -->
</div><!--END content-scrollable-container -->