

<!--hosts scrollable page -->
<div class='content-scrollable-container'>
	<!--page which scrolls -->
	<div class='content-scrollable-content evenement'>


		<div class="row">
			<div class="col-md-offset-3 col-md-6 titre">
				<h4>évènement du réseau</h4>
				<h2>Enseigner/designer</h2>
				<h3>L'enseignement du design graphique aux frontières du numérique</h3>
				<h4>7 Mai 2015 - École des Hautes Études en Sciences Sociales</h4>
			</div>
		</div>



		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="argument">Argument</h3>

				<p>
					Depuis la création du Bauhaus en 1919 par Walter Gropius, l'enseignement du design pose des problèmes qui lui sont propres, entre art, industrie, et transmission. Dans le même temps, il rejouait déjà des enjeux historiques autour du développement de l'inventivité ou de la maîtrise technique. Alors que les écoles d'art et de design s'interrogent depuis de nombreuses années sur la place et le rôle du numérique dans l'enseignement, cette journée sera l'occasion d’échanger sur ces notions dans le contexte du design graphique.
				</p>
				<p>
					La matinée sera consacrée à la présentation de plusieurs perspectives de recherche engagées en écoles d’art, avec une discussion autour de leurs singularités pédagogiques. L’après-midi, nous aurons l’occasion de discuter sur les pratiques d'enseignement dites alternatives issues ou reconfigurées par le numérique (plateformes en ligne, tiers-lieux d'apprentissage, etc.). Une table-ronde réunissant tous les intervenants clôturera la journée.
				</p>

			</div>
		</div>

		<div class="row program">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="programme">
					Programme
				</h3>
			</div>
			<div class="col-md-offset-3 col-md-6">

				<table>
						<tr>
							<td>9h-9h20</td>
							<td>
								<div>
									<h4>Accueil des participants</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td>9h30-9h45</td>
							<td>
								<div>
									<h4>Ouverture de la journée</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td>9h45-10h30</td>
							<td>
								<div>
									<h4>Luc Dall'Armellina (<a href="http://www.espe-versailles.fr/">ESPE Versailles</a> / <a href="http://www.u-cergy.fr/fr/laboratoires/ema.html">labo EMA-UCP</a>)</h4>
									<h4>Design et intelligences multiples</h4>
									<p>Dans un cours d'épistémologie du design, nous avons dessiné des cartes pour créer des relations entre des livres issus de domaines très différents, jusqu'à ce que que nous croisions le texte "Les intelligences multiples" de Howard Gardner. Chacune des 8 intelligences qu'il décrit rencontre à merveille l'un des champs du design contemporain, c'est ce qu'a mis en évidence un atelier d'écritures collectives destiné à unir nos connaissances sur le sujet. De là, deux questions naissent : comment ? pourquoi ? </p>
								</div>
							</td>
						</tr>

						<tr>
								<td>10h45-11h30</td>
								<td>
									<div>
										<h4>Thomas Huot Marchand (<a href="http://www.anrt-nancy.fr/">ANRT Nancy</a>)</h4>
										<h4>"Les lignes de recherche de l’Atelier national de recherche typographique"</h4>
										<p>Depuis sa réouverture en 2013, l’ANRT a tissé à Nancy plusieurs programmes de recherche, en partenariat avec des structures de recherche dans le champ de la linguistique et des sciences informatiques. Ces projets, menés par les étudiants-chercheurs sur 9, 18 ou 36 mois, revendiquent l’apport du design typographique aux humanités numériques, et à l’ingénierie des langues et des connaissances.</p>
									</div>
								</td>
						</tr>

						<tr>
							<td>11h30-12h45</td>
							<td>
								<div>
									<h4>Alexis Charzard (<a href="http://www.esad-gv.fr/fr/">ESAD Valence</a> / <a href="http://enjeuxdudesigngraphique.fr/">UdR Pas de savoirs sans transmission)</a></h4>
									<h4>Il y a plein de place (tout) en bas</h4>
									<p>Aujourd’hui encore, un savoir très normé est délivré à celles et ceux qui découvrent l’informatique voire s’engagent dans l’apprentissage de la programmation. La culture d’origine des scientifiques et des ingénieurs qui ont donné sa forme matérielle à l’ordinateur a largement contribué à fixer le modèle de ce discours. Sommes-nous condamnés à considérer l’informatique sous l’angle du calcul ? L’enseignement du design graphique offre un terrain fertile pour tenter de reconsidérer ce modèle.</p>
								</div>
							</td>
						</tr>

						<tr>
							<td>13h-14h30</td>
							<td>
								<div>
									<h4>Pause déjeuner</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td>14h30-15h15</td>
							<td>
								<div>
									<h4>Frédéric Bardeau (<a href="http://simplon.co/">Simplon.co</a>)</h4>
									<h4>Numériser l'éducation ou éduquer au numérique</h4>
									<p>Alors que nos chères têtes blondes se verront proposer dès la rentrée du “code” de l’école primaire au collège et que François Hollande a annoncé une “grande école du numérique” dans les quartiers populaires, que penser de l’éducation au numérique, du “tsunami numérique” dans l’éducation (MOOC) et des nouvelles formations (42, Simplon...).</p>
								</div>
							</td>
						</tr>

						<tr>
							<td>15h30-16h15</td>
							<td>
								<div>
									<h4>Antonella Tufano (<a href="http://www.gerphau.archi.fr/spip.php?auteur63">Gerphau</a>/LAVUE umr CNRS 7218 - <a href="http://www.paris-lavillette.archi.fr/cms/index.php?page=detail_enseignant&pe_id=1080">ENSA Paris La Villette</a>)</h4>
									<h4>Transmission et translation : déperditions et augmentations</h4>
									<p>Les nouveaux champs de la connaissance se modifient beaucoup plus rapidement que les manières de transmettre ces savoirs. Avec l’entrée en scène du numérique (les outils et les contenus), cette transformation a touché le fondement même de la  structure pédagogique : le maître est ignorant et il apprend avec plus de lenteur que ses élèves. La capacité à inventer des formes pédagogiques en dehors des cadres académique est acceptable pour l’ institution ? Comment (et pourquoi) légitimer ces manières d’innover par une hybridation qui implique beaucoup de déperditions disciplinaires et quelques augmentations interdisciplinaires ?</p>
								</div>
							</td>
						</tr>

						<tr>
							<td>16h30-17h45</td>
							<td>
								<div>
									<h4>Table ronde collective</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td>17h45-18h</td>
							<td>
								<div>
									<h4>Clôture de la journée</h4>
								</div>
							</td>
						</tr>

				</table>
			</div>
		</div>


		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="comite">Comité d'organisation</h3>

				<ul class="comite">
					<li><person>Anthony Masure</person></li>
					<li><person>Thiago Máximo</person></li>
					<li><person>Anne-Lyse Renon</person></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="inscription">S'inscrire à la journée</h3>

				<div><iframe  src="//eventbrite.fr/tickets-external?eid=16545250289&ref=etckt" frameborder="0" height="300" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>		
	
			</div>
		</div>

		<div class="row">
			<!--<div class="col-md-offset-3 col-md-6">
				<h3 id="affiche">Affiche</h3>
				<img style="width : 100%" src="images/enseigner-designer.jpg" alt="">
				<div><a href="pdf/enseigner-designer.pdf">Télécharger l'affiche de la journée</a></div>
			</div>-->
		</div>

						<div class="row">
							<div class="col-md-offset-3 col-md-6 credits">
								<h3>Soutiens</h3>

								<p>
									Nous remercions chaleureusement tous les membres du réseau et les autres personnes qui nous ont aidé à organiser cet évènement. <br>
									Cette journée a bénéficié du soutien financier du Campus Condorcet et de l'EHESS.
								</p>
								<div class="credits-images">
									<img src="images/logo-condorcet.jpg"alt="">
									<img src="images/logo-ehess.jpg" alt="">
								</div>

							</div>
						</div>
					</div>

				</div><!--END content-scrollable-content -->
</div><!--END content-scrollable-container -->