

<!--hosts scrollable page -->
<div class='content-scrollable-container'>
	<!--page which scrolls -->
	<div class='content-scrollable-content evenement'>


		<div class="row">
			<div class="col-md-offset-3 col-md-6 titre">
				<h4>évènement du réseau</h4>
				<h2>Faut-il rédiger les méthodes de la recherche en design ?</h2>
				<h4>2 Octobre 2014 - ENSCI les ateliers</h4>
			</div>
			<div class="col-md-offset-3 col-md-6 citation">
				<blockquote>
					<p>
						Ainsi mon dessein n’est pas d’enseigner la méthode que chacun doit suivre pour bien conduire sa raison, mais de faire voir en quelle sorte j’ai tâché de conduire la mienne.
					</p> 
				</blockquote>
				<p class="citation-attribution">
					René Descartes, <span class="titre-livre">Discours de la méthode</span>, 1637.
				</p>
			</div>

		</div>



		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="argument">Argument</h3>

				<p>
					La jeune recherche en design française est une communauté de questionnement et d’hypothèses. Son indéfinition doit être saisie comme une opportunité 
					pour la création d’un espace de dialogue et d’invention autour de notions présentes conjointement dans la galaxie d’activités du design et dans sa région en recherche.
				</p>
				<p>
					En raison de leurs nombreuses affiliations culturelles et disciplinaires, les méthodes et méthodologies convoquées par la recherche en design sont particulièrement riches et controversées. Que nous apprend cette diversité sur la multiplicité des connaissances produites par la recherche en design ? Cette dernière 
					est-elle condamnée à importer des méthodologies issues d’autres disciplines ou 
					peut-elle prétendre à une spécificité intrinsèque ? La recherche en design 
					a-t-elle pour mission d’expliciter et de développer les méthodes de design utilisées en milieu dit professionnel ? Que dire alors du concept de méthodologie, tantôt chemin de fer indépassable, tantôt aiguillage indispensable, tantôt science 
					des chemins de traverse hasardeux ? Le propre d’une recherche en design 
					n’est-il pas aussi de faire preuve d’une forme « d’invention » méthodologique ?
				</p>
				<p>
					À travers des échanges croisés, le premier évènement scientifique organisé 
					par l’association « design en recherche » sera l’occasion de traiter ces questions à travers un ensemble de tables rondes et un workshop de mise en pratique 
					des débats de la journée. Il vise à initier un mouvement d’ouverture des travaux du réseau à des chercheurs plus expérimentés, afin de favoriser les échanges 
					au sein de la communauté scientifique travaillant sur le design.

				</p>
			</div>
		</div>

		<div class="row">
							<div class="col-md-offset-3 col-md-6">
								<h3 id="storify">Récit de l'évènement</h3>
								<div class="storify"><iframe src="//storify.com/DesignRecherche/faut-il-rediger-les-methodes-de-la-recherche-en-de/embed?border=false" width="100%" height='750' frameborder=no allowtransparency=true></iframe><script src="//storify.com/DesignRecherche/faut-il-rediger-les-methodes-de-la-recherche-en-de.js?border=false"></script><noscript>[<a href="//storify.com/DesignRecherche/faut-il-rediger-les-methodes-de-la-recherche-en-de" target="_blank">Voir l'histoire "Faut-il rédiger les méthodes de la recherche en design ?" sur Storify</a>]</noscript></div>
							</div>
						</div>


		<div class="row program">
			<div class="col-md-offset-3 col-md-6">
				<h3 id="programme">
					Programme
				</h3>
			</div>
			<div class="col-md-offset-3 col-md-6">
				<table>
					<tr>
						<td>
							9h30-10h
						</td>
						<td>
							<div>
								Accueil des participants
							</div>
						</td>
					</tr>


					<tr>
						<td>
							10h-10h15
						</td>
						<td>
							<div>
								<h4>
									Introduction de la journée et du réseau “Design en Recherche”
								</h4>
								<p>
									<person>Marine Royer, doctorante en anthropologie, EHESS / ENSCI – Les Ateliers, Paris.<person>
									</p>
								</div>
							</td>
						</tr>


						<tr>
							<td>10h15-10h45</td>
							<td>
								<div>
									<h4>
										Introduction : la recherche en design 
										au confluent de cultures hétérogènes
									</h4>
									<p>
										<person>Robin de Mourat, doctorant en esthétique et humanités numériques, Université Rennes 2.
										</person>
									</p>
								</div>
							</td>
						</tr>


						<tr>
							<td>
								11h-11h45
							</td>
							<td>
								<div>
									<h4>
										Table ronde 1 : Design de modèles et modèles de pensée.
									</h4>
									<p>
										Modératrice : <br>
										<person>
											Anne-Lyse Renon, doctorante en anthropologie, EHESS / CNRS, Paris.
										</person>
									</p>
									<p>
										Discutants du réseau :<br>
										<person>
											Camille Bosqué, doctorante en esthétique, Université Rennes 2 - ENSCI les Ateliers.</person><br>
											<person>
												Estelle Berger, doctorante en esthétique, Université Toulouse 2.</person><br>
												<person>
													Anthony Masure, doctorant en esthétique, Université Paris 1.
												</person>
											</p>
										</div>
									</td>
								</tr>

								<tr>
									<td>
										11h45-12h
									</td>
									<td>
										<div>
											Discussions
										</div>
									</td>
								</tr>

								<tr>
									<td>
										12h-13h30
									</td>
									<td>
										<div>
											Pause déjeuner
										</div>
									</td>
								</tr>

								<tr>
									<td>13h30-14h45</td>
									<td>
										<div>
											<h4>
												Table ronde 2 : méthodes de design et méthodes de recherche en design
											</h4>
											<p>
												Modératrice : <br>
												<person>
													Ioana Ocnarescu, PhD, enseignante-chercheuse Strate école de design.
												</person>
											</p><p>
											Discutants du réseau :<br>
											<span class="member" ng-mouseover="showInLogo('bougourd-caroline')" ng-mouseleave = "hideMembersLogo()">
												<person>
													Caroline Bougourd, doctorante en esthétique, Université Paris 1.
												</person>
												<br>
												<person>

													Pathum Billa-Deroussy, doctorant en Sciences de la Conception, ENSAM.
												</person>
												<br>
												<person>
													Maxime Mollon, doctorant en sciences de l’information et de la communication, SaCRe/ENST - ENSAD.
												</person><br>
											</p>
										</div>
									</td>
								</tr>

								<tr>
									<td>17h-17h15</td>
									<td>
										<div>
											<h4>
												Conclusion de la session de tables rondes
											</h4>
											<p>
												<person>
													Alain Findeli, Professeur, Université de Nîmes, Professeur honoraire, Université de Montréal.
												</person>
											</p>
										</div>
									</td>
								</tr>

								<tr>
									<td>
										15h15-15h30</td>
										<td>
											<div>
												Pause
											</div>
										</td>
									</tr>


									<tr>
										<td>15h30-17h30</td>
										<td>
											<div>
												<h4>
													Workshop : méthodes de la recherche en design — transmission ou reproduction ?
												</h4>
												<p>
													Animé par Alain Findeli, Professeur, Université de Nîmes, Professeur honoraire, Université de Montréal.
												</p>
											</div>
										</td>
									</tr>



								</table>
							</div>
		</div>




						<div class="row">
							<div class="col-md-offset-3 col-md-6">
								<h3 id="bibliographie">Ressources</h3>


								<table  class="ressources-list">
									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://www3.nd.edu/~amurniek/2011fa/074793604772933739.pdf">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Bayazit N., 2004, « Investigating Design: A Review of Forty Years of Design Research », <span>Design Issues</span>, 20 (1), pp. 16-29.
										</td>
									</tr>

									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://ac.els-cdn.com/0142694X81900508/1-s2.0-0142694X81900508-main.pdf?_tid=9730a56a-44c1-11e4-a8bc-00000aacb360&acdnat=1411656078_95a72a95a52844f5f621e165119b69b4">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Cross N., Naughton J., Walker D., 1981, « Design method and scientific method », <span>Design Issues</span>, 2 (4), pp. 195-201.
										</td>
									</tr>


									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://oro.open.ac.uk/3281/1/Designerly-_DisciplinevScience.pdf">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Cross N., 2001, « Designerly Ways of Knowing: Design Discipline Versus Design
											Science »,  <span>Design Issues</span>, 17 (3), pp. 49–55. 
										</td>
									</tr>
									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://books.google.fr/books?id=qEiC-_ELYgIC&printsec=frontcover&dq=qualitative+research+handbook+4th+edition&hl=fr&sa=X&ei=sqAyVJrGBoXa7gaa0ID4DA&ved=0CCAQ6AEwAA#v=onepage&q&f=false">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Denzin N. &amp; Lincoln Y., 2011, « The SAGE Handbook of Qualitative Research - fourth edition »,  <span>SAGE Publications</span>. 
										</td>
									</tr>


									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://www.mitpressjournals.org/doi/pdf/10.1162/desi.2008.24.3.4">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Fallman D., 2008, « The Interaction Design research Triangle of Design Practice, Design Studies, and Design Exploration »,  <span>Design Issues</span>, 24 (3), pp. 4–18. 
										</td>
									</tr>


									<tr>
										<td class="ressource-btn">
											<a target="blank" href="/pdf/perspectives-rd.pdf">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Findeli A., 2004, « Les perspectives de recherche en design », <span>Mode de recherche</span>, 1, pp. 7-10.
										</td>
									</tr>

									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://5-10-20.ch/~sdn/SDN08_pdf_conference%20papers/04_Findeli.pdf">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Findeli A., Brouillet D., Martin S., Moineau C., Tarrago R., 2008, « Research Through Design and Transdisciplinarity:A Tentative Contribution to the Methodology of Design Research », <span>Focused - Current Design Research Projects and Methods</span>.
										</td>
									</tr>

									<tr>
										<td class="ressource-btn">
											<a target="blank" href="/pdf/findeli-drn.pdf">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Findeli A., 2008, « Searching For Design Research Questions: Some Conceptual Clarifications », <span>Questions & Hypotheses, DRN Learning Conference</span>, pp. 286-302.
										</td>
									</tr>



									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://www.ida.liu.se/~steho/desres/glanville.pdf">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Glanville R., 1999, « Researching design and designing research », <span>Design Issues</span>.
										</td>
									</tr>

									<tr>
										<td class="ressource-btn">
											<a target="blank" href=" http://terrain.revues.org/3316">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											La Soudière (de) M., 1988, « L'inconfort du terrain. "Faire" la Creuse, le Maroc, la Lozère.... », <span>Terrain</span>, 11, pp. 94-105.
										</td>
									</tr>


									<tr>
										<td class="ressource-btn">
											<a target="blank" href=" http://www.mitpressjournals.org/doi/pdf/10.1162/DESI_a_00031">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Margolin V., 2010, « Doctoral Education in Design: Problems and Prospects », <span>Design Issues</span>, 26 (3), pp. 70-78.
										</td>
									</tr>


									<tr>
										<td class="ressource-btn">
											<a target="blank" href="http://repository.cmu.edu/cgi/viewcontent.cgi?article=1035&context=hcii">Lire ce texte</a>
										</td>
										<td class="ressource-ctn">
											Zimmerlan, J., Forlizzi J., 2008, « The Role of Design Artifacts in Design Theory Construction », <span>Human-Computer Interaction Institute</span>, 26 (3), pp. 70-78.
										</td>
									</tr>

								</table>
							</div>
						</div>
					<!--
						<div class="row">
							<div class="col-md-offset-3 col-md-6">
								<h3 id="compterendu">Compte-rendu collaboratif</h3>
								<iframe name='embed_readwrite' src='https://pad.okfn.org/p/g5x2JArLyd?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false' width='100%' height='400'></iframe>
								<p><a target="blank" href="https://pad.okfn.org/p/g5x2JArLyd">Se rendre sur la page du compte-rendu</a></p>
							</div>
						</div>
					-->

						<div class="row">
							<div class="col-md-offset-3 col-md-6 credits">
								<h3>Soutiens</h3>

								<p>
									Nous remercions chaleureusement tous les membres du réseau et les autres personnes qui nous ont aidé à organiser cet évènement. <br>
									Cette journée a bénéficié du soutien financier du Campus Condorcet et de l'EHESS.
								</p>
								<div class="credits-images">
									<img src="images/logo-condorcet.jpg"alt="">
									<img src="images/logo-ehess.jpg" alt="">
								</div>

							</div>
						</div>
					</div>

				</div><!--END content-scrollable-content -->
</div><!--END content-scrollable-container -->